@import '@fontsource/buenard/400.css';
@import '@fontsource/buenard/700.css';
@import '@fontsource-variable/google-sans-code';
@import '@fontsource/ibm-plex-serif/400.css';
@import '@fontsource/ibm-plex-serif/400-italic.css';
@import '@fontsource/ibm-plex-serif/700.css';

@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

@theme {
  --font-serif: 'IBM Plex Serif', serif;
  --font-mono: 'Google Sans Code Variable', monospace;
  --default-font-family: var(--font-serif);
}
